/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	border-width: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
	--clr-primary-1: #96BB33;
	--clr-primary-1-1: #81A02C;
	--clr-primary-2: #4A1A51;
	--clr-primary-3: #C9F0FF;
	--clr-primary-4: #EAFFFD;
	--clr-primary-5: #EFEFF0;
	--clr-primary-5-1: #D5D5D7;
	--clr-primary-5-2: #B6B6B9;

	--clr-primary-good: #a9deac;
	--clr-primary-good-1: #32a438;
	--clr-primary-thinking: #a9b5de;
	--clr-primary-thinking-1: #294cc0;
	--clr-primary-bad: #dea9ad;
	--clr-primary-bad-1: #b54b54;
	--clr-primary-warning: #eaeeaa;
	--clr-primary-warning-1: #dbe12c;

	--gap-small: 20px;
	--gap-listcontainer: 20px;

	--border-size-med: 2px;

	--text-color-1: black;
	font-family: "Rubik", sans-serif;

	--clr-slides: #649664;
	--clr-slides-1: #a7caa7;
	--clr-negs: #bc8f8f;
	--clr-negs-1: #dda7a7;
	--clr-prints: #ffed86;
	--clr-prints-1: #fff8cf;
	--clr-film: #9cff9c;
	--clr-film-1: #d4ffd4;
	--clr-video: #92ffff;
	--clr-video-1: #cbffff;
	--clr-data: #e0afff;
	--clr-data-1: #eac7ff;
	--clr-audio: #85c2ff;
	--clr-audio-1: #c7e3ff;
	--clr-other: #ff1493;

	--border-radius-1: 15px;

	--min-desktop-width: 768px;
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
h1 {
	font-size: 30px;
}
h3 {
	font-size: 18px;
}
.slides {
	background-color: var(--clr-slides);
}
.negatives {
	background-color: var(--clr-negatives);
}
.photos {
	background-color: var(--clr-photos);
}


.little-button-container {
	width: 20px;
	height: 20px;
	background-color: white;
	border: 2px solid var(--clr-primary-5-1);
	border-radius: 5px;
	text-align: center;
	opacity: 40%;
}
.little-button-container:hover {
	opacity: 100%;
}


button {
	border: none;
	border-radius: 5px;
	background-color: var(--clr-primary-5);
}
button:hover {
	background-color: var(--clr-primary-5-1);
	cursor: pointer;
}